@import "~@lib/colors.sass"
@import "~@lib/styleVars.sass"

.researchPage
  section
    max-width: $content-width
    padding: 0 30px
    margin: 20px auto 60px
    min-height: calc(100vh - 230px)

  p
    line-height: 1.6em
    margin-top: 0
    text-align: justify

.titleWrapper
  position: sticky
  top: 60px
  width: 100%
  background-color: $grey
  padding: 20px 0
  z-index: 100

.titleInner
  max-width: $content-width
  margin: 0 auto
  padding: 0 30px

  .closeLink
    float: right
    color: inherit
    text-decoration: none
    font-size: 30px
    margin-top: -10px

  h2
    font-size: 18px

.definition
  font-weight: bold
  font-size: 0.8em

.twoColSection
  display: flex
  align-items: flex-start

.graph
  width: 400px
  margin: 40px 30px 60px 60px

.speciesTable
  counter-reset: species
  border-spacing: 5px
  margin-top: 40px
  font-size: 0.8em

  tr
    counter-increment: species

    @each $color in $graph-colors
      $i: index($graph-colors, $color) - 1
      &:nth-child(0n + #{$i}) .species
        background: $color

  th
    padding: 5px 15px 5px
    vertical-align: top
    text-align: left
    background-color: $grey

  td
    vertical-align: top
    text-align: left
    padding: 0 9px

  .species
    text-align: center
    vertical-align: middle

    &::before
      display: block
      font-weight: bold
      font-size: 1.5em
      content: counter(species) ':'

.logoComponents
  font-size: 0.8em

  div
    margin-bottom: 10px

  dt
    font-weight: bold
    display: inline
    margin-right: 5px

  dd
    display: inline
    margin: 0
    padding: 0

.componentsImage
  width: 500px
  margin-left: 30px
  flex-shrink: 0

.callToAction
  text-align: center
  background-color: black
  width: 260px
  height: 300px
  display: flex
  justify-content: center
  align-items: center
  flex-shrink: 0
  font-size: 18px
  text-transform: uppercase
  padding: 10px
  color: white
  text-decoration: none
  margin-left: 30px


